<%= form_with(method: 'get', local: true) do %>
  <div class="container mt-5">
    <%= render "shared/flash" %>
    <div class="card">
      <h5 class="card-header">Forecast</h5>
      <div class="card-body">
        <p class="card-text">Enter an address and click 'Get Weather' to see the current weather.</p>
        <div class="form-floating mb-3">
          <%= text_field_tag :address, @address || @default_address, class: 'form-control', id: 'floatingAddress' %>
          <label for="floatingAddress">Address</label>
        </div>
        <%= submit_tag("Get Weather", :class=>"btn btn-primary") %>
      </div>
    </div>
  </div>
<% end %>


<% if @weather %>
  <div class="container mt-5 mb-5">
    <div class="card text-center">
      <div class="card-header">
        Today's Forecast
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= @geocode.address %></h5>
        <p class="card-text"><%= @geocode.county %></p>
        <div class="card-group">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Temperature</h5>
              <p class="card-text">Current Temperature: <%= @weather.temperature %> ℉</p>
              <p class="card-text">Feels Like: <%= @weather.feels_like %> ℉</p>
              <p class="card-text">Low: <%= @weather.temperature_min %> ℉</p>
              <p class="card-text">High: <%= @weather.temperature_max %> ℉</p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Conditions</h5>
              <p class="card-text"><%= @weather.description.titleize %></p>
              <p class="card-text">Wind: <%= @weather.wind %> MPH</p>
              <% if @weather.wind_gust %>
                <p class="card-text">Wind Gust: ~<%= @weather.wind_gust %> MPH</p>
              <% end %>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Humidity & Pressure</h5>
              <p class="card-text">Humidity: <%= @weather.humidity %>%</p>
              <p class="card-text">Pressure: <%= @pressure %> inHg</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted d-flex align-items-end">
        <% if @weather_cache_exist %>
          <span class='badge rounded-pill text-bg-success' data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Results pulled from cache">✓</span>
        <% else %>
          <span class="badge rounded-pill text-bg-danger" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Results not pulled from cache">✕</span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>